body {
	background-color: grey;
}
.b-border{
	color: blue;
	background-color: yellow;
}
.g-border {
	color: green;
	background-color: red;
}
li {
	background-color: magenta;
	float: left;
	border: 2px solid blue;
	border-radius: 10px;
}
ul {
	float: left;
	border: 5px solid red;
	border-style: dashed;
	border-radius: 25px;
}
img {
	border: 11px solid blue;
	border-radius: 55px;
}
