.grid-container {
	display: grid;
	height : 300px;
	width : 300px;
	grid-template-columns: auto auto auto;
	background-color: #025912;
	padding: 10px;
	border-radius : 15px;
}

.grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	border-radius : 15px;
	height : 100%;
	width : 100%;
	padding: 20px;
	font-size: 30px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	resize: none;
}
