h1{
	float: center;
	background-color: darkgrey;
	width: 300px;
	border: 15px solid blue;
	border-radius : 5px;
	padding: 50px;
	margin: 20px;
	color : black;
}
button{
	float: center;
	background-color: darkgrey;
	width: 150px;
	border: 15px solid green;
	border-radius : 5px;
	padding: 20px;
	margin: 20px;
	color : black;
}
